.nav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  .nav-logo-container {
    text-decoration: none;
    font-family: "Pirata One", cursive;
    color: white;
    margin-left: 2em;
    letter-spacing: 5px;
    font-size: 0.6em;
  }

  .nav-links-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2em;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-size: 0.6em;
      font-weight: 500;
    }
  }
}
