// second-line categories only
.secondLine-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  .category-container {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    margin: 0 auto;
    overflow: hidden;

    &:hover {
      cursor: pointer;

      & .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }

      & .category-body-container {
        opacity: 0.9;
      }
    }

    &.large {
      height: 380px;
    }

    &:first-child {
      margin-right: 7.5px;
    }

    &:last-child {
      margin-left: 7.5px;
    }

    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .category-body-container {
      height: 50px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;

      h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        color: black;
        padding: 2px 12px;
        background-color: white;
        opacity: 0.9;
      }
    }
  }
}
