.footer-container {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  padding: 6em 3em;
  color: white;
  background-color: black;

  .footer-component {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-transform: uppercase;
  }

  span {
    margin-top: 0.75em;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .brand {
    h1 {
      font-family: "Pirata One", cursive;
      letter-spacing: 5px;
    }

    p {
      max-width: 200px;
      line-height: 1.5em;
    }

    .socials {
      display: flex;
      align-items: flex-start;

      .fa-brands {
        font-size: 1.2em;
        cursor: pointer;
      }

      .fa-instagram {
        margin-right: 15px;

        &:hover {
          background: #d6249f;
          background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
          );
          border-radius: 10px;
        }
      }

      .fa-facebook:hover {
        color: #00b2ff;
      }
    }
  }
}
